name: Frontend CI

on:
  push:
    branches: [ "main", "develop" ]
    paths:
      - 'frontend/**'
  pull_request:
    branches: [ "main", "develop" ]
    paths:
      - 'frontend/**'

jobs:
  build-android:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
    - uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.0'
        channel: 'stable'
        cache: true

    - name: Install Dependencies
      run: flutter pub get

    - name: Analyze Code
      run: flutter analyze

    - name: Run Tests
      run: flutter test

    - name: Build Android APK (Debug)
      run: flutter build apk --debug --no-pub
