name: Backend CI

on:
  push:
    branches: [ "main", "develop" ]
    paths:
      - 'backend/**'
  pull_request:
    branches: [ "main", "develop" ]
    paths:
      - 'backend/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'npm'
        cache-dependency-path: backend/package-lock.json

    - name: Install dependencies
      run: npm ci

    - name: Run Linter
      run: npm run lint --if-present

    - name: Run Tests
      run: npm test
